springcm_tools/linter/tags.rnc

element Content { 
    attribute Select { text },
    attribute Optional { "true"|"false" },
    attribute TagRef { text }?,
    attribute TrackName { xsd:string { pattern = "[a-zA-Z][a-zA-Z0-9 .]+" } }?
} | 
element TableRow { 
    attribute Select { text },
    attribute Optional { "true"|"false" },
    attribute TagRef { text }?,
    attribute TrackName { xsd:string { pattern = "[a-zA-Z][a-zA-Z0-9 .]+" } }?
}